<script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/hmac-sha256.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/components/enc-base64-min.js"></script>

<script>
  // var hash = CryptoJS.HmacSHA256("Message", "secret");
  // var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
  // document.write(hashInBase64);
</script>

<form action="/user" method="POST">
	Username <input name="username" />
	Password <input name="password" type="password" />
	<input type="submit" value="submit" />
</form>